<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main-static/css/main.css') }}">
    <title>Onlayn test topshirish</title>
</head>

<body>
    <div class="container">
        <div class="header__top">
            <div class="header_block">
                <div class="logo">
                    <a href="{{ url_for('main_page') }}">
                        <img src="{{ url_for('static', filename='main-static/images/logo.png') }}" alt="">
                    </a>
                </div>
                <div class="links">
                    <div class="link_btn">
                        <a href="{{ url_for('register') }}">Ro'yxatdan o'tish</a>
                    </div>
                    <div class="link_btn">
                        <a href="{{ url_for('login') }}">Kirish</a>
                    </div>
                </div>
            </div>
        </div>
        {% block main %}

        {% endblock main %}
    </div>
</body>

</html>