<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='admin-static/css/admin_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin-static/css/admin-add_style.css') }}">
    {% block head %}{% endblock head %}

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <!-- Fonts -->

    <title>{{ page_name }}</title>
</head>

<body>

    <div class="body_wrapper">


        <!-- ===================================== -->
        <header class="block_style">
            {% block header %}{% endblock header %}
        </header>
        <!-- ===================================== -->

        <!-- ===================================== -->
        <main class="block_style">
            <div class="main_wrapper">
                {% block main %}{% endblock main %}
            </div>
        </main>

        <!-- ===================================== -->
    </div>


    <script src="{{ url_for('static', filename='admin-static/js/jquery-3.5.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin-static/js/script.js') }}"></script>
    {% block javascripts %}{% endblock javascripts %}

</body>

</html>